.azul{
	background-color: blue;
}
.vermelho{
	background-color: red;
}
.fx_azul_top{
	background-color: #9CB8D7;
	height: 36px;
}
.txt_slogan{
	float: left;
	margin-left: -50px;
	margin-top: 5px;
	font-size: 17px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}
.fa-phone{
	float: left;
	color: white;
	margin-top: 15px;
	font-size: 10px;
}
.txt_telefone_top{
	float: left;
	color: white;
	margin-top: 5px;
	font-size: 17px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ddd{
	float: left;
	color: white;
	margin-top: 9px;
	font-size: 13px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.telefone_top{
	float: left;
	margin-left:4px;
	color: white;
	margin-top: 6px;
	font-size: 16px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn_prod a{
	color:#fff;
}
.btn_prod {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: #1E4C9E;
  padding: 9px 16px 10px 15px;
	margin-top: 6px;
  text-decoration: none;
	width: 130px;
}
.btn_prod:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 11px;
  background: #1E4C9E;
  padding: 9px 16px 10px 15px;
	margin-top: -23px;
	float: right;
  text-decoration: none;
	width: 150px;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.menu{
	float: left;
	margin-left: -25px;
	margin-top: 20px;
	font-size: 14px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.busca{
	float: right;
	margin-right: -80px;
	margin-top: 11px;
	/*margin-top: -25px;*/
}
.fx_azul_banner{
	background-color: #C6CED5;
	height: 5px;
}
.txt_desc{
	line-height: 18px;
	font-size: 12px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 115px;
  	overflow: hidden;
}
.tit_categoria{
	text-align: center;
	letter-spacing: 15px;
	font-size: 20px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pics_pq{
	text-align: center;
}
.fundo_rodape{
	background-color: #F7F7F7;
}
.tit_rodape{
	float: left;
	margin-top: 20px;
	font-size: 13px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu_rodapde{
	float: left;
	line-height: 20px;
	font-size: 12px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.rodape_azul{
	text-align: center;
	line-height: 15px;
	font-size: 14px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background-color: #1E4C9E;
}

#menu_topo{
	padding-top: 17px;
}

#menu_topo li{
	float:left;
	list-style: none;
	padding-right: 10px;
	
}

#menu_topo a{
  text-transform: uppercase;
  color:#222;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
